.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 7846px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #323232 url("../images/presence-page-fr.png") repeat center center;
	background-color: rgba(0, 0, 0, 0.8);
}

#u4888
{
	z-index: 145;
	width: 1199px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 26px;
	position: relative;
}

#u1643-4
{
	z-index: 149;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	left: 330px;
}

#menuu5118
{
	z-index: 279;
	width: 1200px;
	position: fixed;
	top: 153px;
	left: 0px;
}

#u5126
{
	width: 398px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
}

#u5127
{
	width: 398px;
	background: #000000 url("../images/u5127-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u5127:hover
{
	background: #000000 url("../images/u5127-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #42410B),to(#000000));
	background: -webkit-linear-gradient(top,#42410B 30%,#000000 );
	background: -moz-linear-gradient(top,#42410B 30%,#000000 );
	background: -ms-linear-gradient(top,#42410B 30%,#000000 );
	background: -o-linear-gradient(top,#42410B 30%,#000000 );
	background: linear-gradient(to bottom,#42410B 30%,#000000 );
	margin: 0px;
}

#u5127:active
{
	background: #000000 url("../images/u5127-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #6B6B6B),to(#000000));
	background: -webkit-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -moz-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -ms-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -o-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: linear-gradient(to bottom,#6B6B6B 30%,#000000 );
	margin: 0px;
}

#u5129
{
	height: 43px;
	width: 398px;
	vertical-align: top;
	background: url("../images/u5129.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 25px;
}

#u5127:hover #u5129
{
	background: url("../images/u5129-r.png") no-repeat 0px 0px;
}

#u5127.MuseMenuActive #u5129
{
	background: url("../images/u5129-a.png") no-repeat 0px 0px;
}

#u5119
{
	width: 399px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u5120
{
	width: 399px;
	background: #000000 url("../images/u5127-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u5120.MuseMenuActive
{
	background: #000000 url("../images/u5127-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	margin: 0px;
}

#u5122-4
{
	position: relative;
	margin-right: -10000px;
	top: 25px;
	left: 0px;
}

#u5122-4_clip
{
	overflow: hidden;
	width: 399px;
	height: 43px;
	vertical-align: top;
}

#u5122-4_img
{
	display: block;
}

#u5146
{
	width: 399px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 801px;
}

#u5147
{
	width: 399px;
	background: #000000 url("../images/u5127-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u5147:hover
{
	background: #000000 url("../images/u5127-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #42410B),to(#000000));
	background: -webkit-linear-gradient(top,#42410B 30%,#000000 );
	background: -moz-linear-gradient(top,#42410B 30%,#000000 );
	background: -ms-linear-gradient(top,#42410B 30%,#000000 );
	background: -o-linear-gradient(top,#42410B 30%,#000000 );
	background: linear-gradient(to bottom,#42410B 30%,#000000 );
	margin: 0px;
}

#u5147:active
{
	background: #000000 url("../images/u5127-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #6B6B6B),to(#000000));
	background: -webkit-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -moz-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -ms-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -o-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: linear-gradient(to bottom,#6B6B6B 30%,#000000 );
	margin: 0px;
}

#u5149
{
	height: 43px;
	width: 399px;
	vertical-align: top;
	background: url("../images/u5149.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 25px;
}

#u5147:hover #u5149
{
	background: url("../images/u5149-r.png") no-repeat 0px 0px;
}

#u5147.MuseMenuActive #u5149
{
	background: url("../images/u5149-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5657
{
	z-index: 6;
	width: 1202px;
	border-style: none;
	border-color: transparent;
	background-color: #232121;
	margin-top: 162px;
	position: relative;
}

#u5657_position_content
{
	margin-top: -42px;
	margin-bottom: 28px;
}

#u1673
{
	z-index: 204;
	width: 1200px;
	position: relative;
}

#u1669-6
{
	z-index: 198;
	display: block;
	vertical-align: top;
	left: -9px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu4981
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u4981
{
	z-index: 11;
	width: 1158px;
	background: transparent url("../images/u4981-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(36%, rgba(102, 45, 145, 0.28)),to(rgba(0, 0, 0, 0.7)));
	background: -webkit-linear-gradient(top,rgba(102, 45, 145, 0.28) 36%,rgba(0, 0, 0, 0.7) );
	background: -moz-linear-gradient(top,rgba(102, 45, 145, 0.28) 36%,rgba(0, 0, 0, 0.7) );
	background: -ms-linear-gradient(top,rgba(102, 45, 145, 0.28) 36%,rgba(0, 0, 0, 0.7) );
	background: -o-linear-gradient(top,rgba(102, 45, 145, 0.28) 36%,rgba(0, 0, 0, 0.7) );
	background: linear-gradient(to bottom,rgba(102, 45, 145, 0.28) 36%,rgba(0, 0, 0, 0.7) );
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4981_position_content
{
	margin-top: 58px;
	margin-bottom: -68px;
}

#u5235
{
	z-index: 277;
	width: 1048px;
	border-width: 17px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 38px;
	position: relative;
}

#u4967-133
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 37px;
	margin-top: 80px;
	position: relative;
}

#u1639-3
{
	z-index: 146;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1212px;
	left: 821px;
}

#buttonu4502
{
	z-index: 239;
	width: 288px;
	background: #000000 url("../images/u4502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 40%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 40%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 40%,#000000 );
	background: -o-linear-gradient(top,#00FF00 40%,#000000 );
	background: linear-gradient(to bottom,#00FF00 40%,#000000 );
	border-width: 5px;
	border-style: solid;
	border-color: #FF0000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 25px;
	margin-left: 446px;
	margin-top: 59px;
	position: relative;
}

#buttonu4502:hover
{
	background: #000000 url("../images/u4502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FFFF),to(#000000));
	background: -webkit-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -moz-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -ms-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -o-linear-gradient(top,#00FFFF 40%,#000000 );
	background: linear-gradient(to bottom,#00FFFF 40%,#000000 );
	width: 288px;
	min-height: 0px;
	margin: 59px 0px 0px 446px;
}

#buttonu4502.ButtonSelected
{
	background: #000000 url("../images/u4502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 40%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 40%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 40%,#000000 );
	background: -o-linear-gradient(top,#00FF00 40%,#000000 );
	background: linear-gradient(to bottom,#00FF00 40%,#000000 );
	width: 288px;
	min-height: 0px;
	margin: 59px 0px 0px 446px;
}

#u4504
{
	z-index: 241;
	height: 36px;
	width: 212px;
	vertical-align: top;
	background: url("../images/u4504.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 39px;
}

#buttonu4502:hover #u4504
{
	background: url("../images/u4504-r.png") no-repeat 0px 0px;
}

#pppu5658
{
	width: 0.01px;
	margin-top: 16px;
	position: relative;
}

#ppu5658
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#pu5658
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u5658
{
	z-index: 5;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: #232121;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u1650-5
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 11px;
}

#u1664
{
	z-index: 196;
	width: 1200px;
	position: relative;
	margin-right: -10000px;
}

#u4982
{
	z-index: 10;
	width: 1198px;
	background: transparent url("../images/u4982-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(255, 0, 255, 0.31)),color-stop(60%, rgba(0, 0, 0, 0.7)));
	background: -webkit-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -moz-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -ms-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -o-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: linear-gradient(to right,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4982_position_content
{
	margin-top: 58px;
	margin-bottom: 58px;
}

#pu4779
{
	width: 0.01px;
	margin-left: 5px;
	position: relative;
}

#u4779
{
	z-index: 251;
	width: 571px;
	border-width: 6px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -6px;
}

#u1653-29
{
	z-index: 158;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 604px;
}

#u1660
{
	z-index: 194;
	width: 1200px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	margin-top: 131px;
	position: relative;
}

#u3295-3
{
	z-index: 213;
	width: 5px;
	font-size: 100px;
	line-height: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 1261px;
}

#buttonu4512
{
	z-index: 243;
	width: 288px;
	background: #000000 url("../images/u4502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 40%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 40%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 40%,#000000 );
	background: -o-linear-gradient(top,#00FF00 40%,#000000 );
	background: linear-gradient(to bottom,#00FF00 40%,#000000 );
	border-width: 5px;
	border-style: solid;
	border-color: #FF0000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 26px;
	margin-left: 446px;
	margin-top: 54px;
	position: relative;
}

#buttonu4512:hover
{
	background: #000000 url("../images/u4502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FFFF),to(#000000));
	background: -webkit-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -moz-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -ms-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -o-linear-gradient(top,#00FFFF 40%,#000000 );
	background: linear-gradient(to bottom,#00FFFF 40%,#000000 );
	width: 288px;
	min-height: 0px;
	margin: 54px 0px 0px 446px;
}

#buttonu4512.ButtonSelected
{
	background: #000000 url("../images/u4502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 40%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 40%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 40%,#000000 );
	background: -o-linear-gradient(top,#00FF00 40%,#000000 );
	background: linear-gradient(to bottom,#00FF00 40%,#000000 );
	width: 288px;
	min-height: 0px;
	margin: 54px 0px 0px 446px;
}

#u4514
{
	z-index: 245;
	height: 36px;
	width: 212px;
	vertical-align: top;
	background: url("../images/u4514.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 42px;
}

#buttonu4512:hover #u4514
{
	background: url("../images/u4514-r.png") no-repeat 0px 0px;
}

#u5659
{
	z-index: 4;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: #232121;
	margin-top: 56px;
	position: relative;
}

#u5659_position_content
{
	margin-top: -42px;
	margin-bottom: 41px;
}

#u4820
{
	z-index: 253;
	width: 1200px;
	position: relative;
}

#u1657-5
{
	z-index: 189;
	display: block;
	vertical-align: top;
	margin-left: 38px;
	margin-top: 15px;
	position: relative;
}

#u4983
{
	z-index: 9;
	width: 1198px;
	background: transparent url("../images/u4982-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(255, 0, 255, 0.31)),color-stop(60%, rgba(0, 0, 0, 0.7)));
	background: -webkit-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -moz-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -ms-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -o-linear-gradient(left,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: linear-gradient(to right,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4983_position_content
{
	margin-top: 58px;
	margin-bottom: 59px;
}

#pu1655
{
	width: 0.01px;
	margin-left: 6px;
	position: relative;
}

#u1655
{
	z-index: 187;
	width: 573px;
	border-width: 6px;
	border-style: solid;
	border-color: #00FF00;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -6px;
}

#u4449-23
{
	z-index: 216;
	display: block;
	vertical-align: top;
	margin-bottom: -21px;
	position: relative;
	margin-right: -10000px;
	margin-top: -21px;
	left: 590px;
}

#u1662
{
	z-index: 195;
	width: 1200px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	margin-top: 41px;
	position: relative;
}

#buttonu4515
{
	z-index: 247;
	width: 288px;
	background: #000000 url("../images/u4502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 40%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 40%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 40%,#000000 );
	background: -o-linear-gradient(top,#00FF00 40%,#000000 );
	background: linear-gradient(to bottom,#00FF00 40%,#000000 );
	border-width: 5px;
	border-style: solid;
	border-color: #FF0000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 25px;
	margin-left: 450px;
	margin-top: 69px;
	position: relative;
}

#buttonu4515:hover
{
	background: #000000 url("../images/u4502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FFFF),to(#000000));
	background: -webkit-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -moz-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -ms-linear-gradient(top,#00FFFF 40%,#000000 );
	background: -o-linear-gradient(top,#00FFFF 40%,#000000 );
	background: linear-gradient(to bottom,#00FFFF 40%,#000000 );
	width: 288px;
	min-height: 0px;
	margin: 69px 0px 0px 450px;
}

#buttonu4515.ButtonSelected
{
	background: #000000 url("../images/u4502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 40%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 40%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 40%,#000000 );
	background: -o-linear-gradient(top,#00FF00 40%,#000000 );
	background: linear-gradient(to bottom,#00FF00 40%,#000000 );
	width: 288px;
	min-height: 0px;
	margin: 69px 0px 0px 450px;
}

#u4517
{
	z-index: 249;
	height: 36px;
	width: 212px;
	vertical-align: top;
	background: url("../images/u4517.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 39px;
}

#buttonu4515:hover #u4517
{
	background: url("../images/u4517-r.png") no-repeat 0px 0px;
}

#u5660
{
	z-index: 3;
	width: 1201px;
	border-style: none;
	border-color: transparent;
	background-color: #232121;
	margin-top: 62px;
	position: relative;
}

#u5660_position_content
{
	margin-top: -43px;
	margin-bottom: 59px;
}

#u1684
{
	z-index: 211;
	width: 1200px;
	margin-left: 1px;
	position: relative;
}

#u1681-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	left: -3px;
	margin-top: 11px;
	position: relative;
}

#pu5228
{
	width: 0.01px;
	position: relative;
}

#u5228
{
	z-index: 7;
	width: 588px;
	background: transparent url("../images/u5228-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 0, 255, 0.31)),color-stop(60%, rgba(0, 0, 0, 0.7)));
	background: -webkit-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -moz-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -ms-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -o-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: linear-gradient(to bottom,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 609px;
}

#u5227-22
{
	z-index: 255;
	display: block;
	vertical-align: top;
	margin-bottom: -40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 1px;
}

#u4984
{
	z-index: 8;
	width: 608px;
	background: transparent url("../images/u5228-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 0, 255, 0.31)),color-stop(60%, rgba(0, 0, 0, 0.7)));
	background: -webkit-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -moz-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -ms-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: -o-linear-gradient(top,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	background: linear-gradient(to bottom,rgba(255, 0, 255, 0.31) ,rgba(0, 0, 0, 0.7) 60%);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-bottom: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1682
{
	z-index: 210;
	width: 350px;
	min-height: 455px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 129px;
}

#u5661
{
	z-index: 2;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u5312
{
	z-index: 298;
	display: block;
	vertical-align: top;
	margin-bottom: -17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 214px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

