.html
{
	background-color: #040404;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1693px;
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #050505 url("../images/presence.jpg") repeat center center;
}

#pu5320
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	left: -4px;
}

#u5320
{
	z-index: 2;
	width: 1202px;
	border-style: none;
	border-color: transparent;
	background-color: #232121;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
}

#u5320_position_content
{
	margin-top: -18px;
	margin-bottom: 223px;
}

#u5321
{
	z-index: 3;
	width: 1202px;
	border-style: none;
	border-color: transparent;
	background-color: #050505;
	position: relative;
}

#u5111
{
	z-index: 15;
	width: 853px;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 186px;
}

.ie #u5111
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1804-3
{
	z-index: 10;
	width: 5px;
	margin-left: 828px;
	margin-top: 83px;
	position: relative;
}

#u5288-3
{
	z-index: 4;
	width: 1202px;
	min-height: 1551px;
	background: transparent url("../images/u5288-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(20%, rgba(255, 0, 255, 0.58)),to(#FF0000));
	background: -webkit-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: -moz-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: -ms-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: -o-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: linear-gradient(to bottom,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	border-style: none;
	border-color: transparent;
	line-height: 180px;
	text-align: center;
	font-size: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 491px;
}

#u1803-3
{
	z-index: 7;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 1161px;
}

#u1807
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 114px;
}

#u5255
{
	z-index: 16;
	width: 1202px;
	position: relative;
	margin-right: -10000px;
	margin-top: 449px;
	left: 4px;
}

#u5308
{
	z-index: 18;
	width: 200px;
	min-height: 1466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
	left: 1004px;
}

#u5322-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#slideshowu5559
{
	z-index: 23;
	width: 0.01px;
	height: 1001px;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
	left: 24px;
}

#u5565
{
	position: absolute;
	width: 950px;
	height: 960px;
	background-color: transparent;
}

#u5565popup
{
	z-index: 24;
}

#u5566
{
	z-index: 25;
	width: 950px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u5611
{
	z-index: 27;
	width: 950px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u5625
{
	z-index: 29;
	width: 950px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u5566_clip,#u5611_clip,#u5625_clip
{
	overflow: hidden;
	width: 950px;
	height: 960px;
}

#u5566_img,#u5611_img,#u5625_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u5586
{
	position: absolute;
	width: 349px;
	top: 961px;
}

#u5586popup
{
	z-index: 31;
}

#u5587-4
{
	z-index: 32;
	width: 329px;
	min-height: 21px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5617-4
{
	z-index: 36;
	width: 329px;
	min-height: 21px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5631-4
{
	z-index: 40;
	width: 329px;
	min-height: 21px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5567-4
{
	position: absolute;
	width: 48px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 961px;
	left: 379px;
}

#u5567-4popup
{
	z-index: 44;
}

#u5570-4
{
	position: absolute;
	width: 10px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 961px;
	left: 349px;
}

#u5570-4popup
{
	z-index: 48;
}

#u5562-4
{
	position: absolute;
	width: 10px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 961px;
	left: 447px;
}

#u5562-4popup
{
	z-index: 52;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5635
{
	z-index: 75;
	width: 944px;
	min-height: 172px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1550px;
	left: 24px;
}

#u5637
{
	z-index: 76;
	width: 946px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1722px;
	left: 24px;
}

#menuu4657
{
	z-index: 56;
	width: 1202px;
	position: fixed;
	top: 150px;
	left: -1px;
}

#u4671
{
	width: 399px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
}

#u4674
{
	width: 399px;
	background: #000000 url("../images/u4674-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u4674.MuseMenuActive
{
	background: #000000 url("../images/u4674-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	margin: 0px;
}

#u4676-4
{
	position: relative;
	margin-right: -10000px;
	top: 25px;
	left: 0px;
}

#u4676-4_clip
{
	overflow: hidden;
	width: 399px;
	height: 43px;
	vertical-align: top;
}

#u4676-4_img
{
	display: block;
}

#u4678
{
	width: 399px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 401px;
}

#u4679
{
	width: 399px;
	background: #000000 url("../images/u4674-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u4679:hover
{
	background: #000000 url("../images/u4679-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #42410B),to(#000000));
	background: -webkit-linear-gradient(top,#42410B 30%,#000000 );
	background: -moz-linear-gradient(top,#42410B 30%,#000000 );
	background: -ms-linear-gradient(top,#42410B 30%,#000000 );
	background: -o-linear-gradient(top,#42410B 30%,#000000 );
	background: linear-gradient(to bottom,#42410B 30%,#000000 );
	margin: 0px;
}

#u4679:active
{
	background: #000000 url("../images/u4679-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #6B6B6B),to(#000000));
	background: -webkit-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -moz-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -ms-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -o-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: linear-gradient(to bottom,#6B6B6B 30%,#000000 );
	margin: 0px;
}

#u4680
{
	height: 43px;
	width: 399px;
	vertical-align: top;
	background: url("../images/u4680.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 25px;
}

#u4679:hover #u4680
{
	background: url("../images/u4680-r.png") no-repeat 0px 0px;
}

#u4679.MuseMenuActive #u4680
{
	background: url("../images/u4680-a.png") no-repeat 0px 0px;
}

#u4685
{
	width: 400px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 802px;
}

#u4686
{
	width: 400px;
	background: #000000 url("../images/u4674-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u4686:hover
{
	background: #000000 url("../images/u4679-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #42410B),to(#000000));
	background: -webkit-linear-gradient(top,#42410B 30%,#000000 );
	background: -moz-linear-gradient(top,#42410B 30%,#000000 );
	background: -ms-linear-gradient(top,#42410B 30%,#000000 );
	background: -o-linear-gradient(top,#42410B 30%,#000000 );
	background: linear-gradient(to bottom,#42410B 30%,#000000 );
	margin: 0px;
}

#u4686:active
{
	background: #000000 url("../images/u4679-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #6B6B6B),to(#000000));
	background: -webkit-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -moz-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -ms-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: -o-linear-gradient(top,#6B6B6B 30%,#000000 );
	background: linear-gradient(to bottom,#6B6B6B 30%,#000000 );
	margin: 0px;
}

#u4688
{
	height: 43px;
	width: 400px;
	vertical-align: top;
	background: url("../images/u4688.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 25px;
}

#u4686:hover #u4688
{
	background: url("../images/u4688-r.png") no-repeat 0px 0px;
}

#u4686.MuseMenuActive #u4688
{
	background: url("../images/u4688-a.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

body
{
	padding-top: 30px;
}

#page .verticalspacer
{
	clear: both;
}

