.html
{
	background-color: #212020;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1692.8359611974713px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FF00A4 url("../images/presence.jpg") repeat center center;
}

#page_position_content
{
	margin-top: -65px;
}

#pu4729
{
	width: 0.01px;
	position: relative;
}

#u4729
{
	z-index: 3;
	width: 1200px;
	height: 235px;
	background: transparent url("../images/u4729-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(32%, rgba(0, 0, 0, 0.62)),to(#D50C9E));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.62) 32%,#D50C9E );
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.62) 32%,#D50C9E );
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.62) 32%,#D50C9E );
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.62) 32%,#D50C9E );
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.62) 32%,#D50C9E );
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#u1803-3
{
	z-index: 6;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 1157px;
}

#u1811
{
	z-index: 13;
	height: 119px;
	width: 183px;
	vertical-align: top;
	background: url("../images/u1811.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 13px;
}

#u1811:hover
{
	background: url("../images/u1811-r.png") no-repeat 0px 0px;
}

#u1813
{
	z-index: 16;
	height: 312px;
	width: 918px;
	vertical-align: top;
	background: url("../images/u1813.png") no-repeat 11px 11px;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: 157px;
}

#u1813:hover
{
	background: url("../images/u1813-r.png") no-repeat 0px 0px;
}

#u1805
{
	z-index: 19;
	height: 53px;
	width: 110px;
	vertical-align: top;
	background: url("../images/u1805.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 1043px;
}

#u1805:hover
{
	background: url("../images/u1805-r.png") no-repeat 0px 0px;
}

#u1805:active
{
	background: url("../images/u1805-m.png") no-repeat 0px 0px;
}

#menuu4657
{
	z-index: 30;
	width: 1200px;
	position: fixed;
	top: 150px;
	left: 0px;
}

#u4671
{
	width: 398px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
}

#u4674
{
	width: 398px;
	background: #000000 url("../images/u4597-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u4674.MuseMenuActive
{
	background: #000000 url("../images/u4597-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	margin: 0px;
}

#u4676-4
{
	position: relative;
	margin-right: -10000px;
	top: 25px;
	left: 0px;
}

#u4676-4_clip
{
	overflow: hidden;
	width: 398px;
	height: 43px;
	vertical-align: top;
}

#u4676-4_img
{
	display: block;
}

#u4678
{
	width: 399px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u4679
{
	width: 399px;
	background: #000000 url("../images/u4597-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u4679:hover
{
	background: #000000 url("../images/u4597-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FFFF),to(#000000));
	background: -webkit-linear-gradient(top,#00FFFF 46%,#000000 );
	background: -moz-linear-gradient(top,#00FFFF 46%,#000000 );
	background: -ms-linear-gradient(top,#00FFFF 46%,#000000 );
	background: -o-linear-gradient(top,#00FFFF 46%,#000000 );
	background: linear-gradient(to bottom,#00FFFF 46%,#000000 );
	margin: 0px;
}

#u4679:active
{
	background: #000000 url("../images/u4597-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #6B6B6B),to(#000000));
	background: -webkit-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: -moz-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: -ms-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: -o-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: linear-gradient(to bottom,#6B6B6B 46%,#000000 );
	margin: 0px;
}

#u4680
{
	height: 43px;
	width: 399px;
	vertical-align: top;
	background: url("../images/u4680.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 25px;
}

#u4679.MuseMenuActive #u4680
{
	background: url("../images/u4680-a.png") no-repeat 0px 0px;
}

#u4685
{
	width: 399px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 801px;
}

#u4686
{
	width: 399px;
	background: #000000 url("../images/u4597-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FF00),to(#000000));
	background: -webkit-linear-gradient(top,#00FF00 46%,#000000 );
	background: -moz-linear-gradient(top,#00FF00 46%,#000000 );
	background: -ms-linear-gradient(top,#00FF00 46%,#000000 );
	background: -o-linear-gradient(top,#00FF00 46%,#000000 );
	background: linear-gradient(to bottom,#00FF00 46%,#000000 );
	padding-bottom: 51px;
	position: relative;
}

#u4686:hover
{
	background: #000000 url("../images/u4597-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #00FFFF),to(#000000));
	background: -webkit-linear-gradient(top,#00FFFF 46%,#000000 );
	background: -moz-linear-gradient(top,#00FFFF 46%,#000000 );
	background: -ms-linear-gradient(top,#00FFFF 46%,#000000 );
	background: -o-linear-gradient(top,#00FFFF 46%,#000000 );
	background: linear-gradient(to bottom,#00FFFF 46%,#000000 );
	margin: 0px;
}

#u4686:active
{
	background: #000000 url("../images/u4597-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #6B6B6B),to(#000000));
	background: -webkit-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: -moz-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: -ms-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: -o-linear-gradient(top,#6B6B6B 46%,#000000 );
	background: linear-gradient(to bottom,#6B6B6B 46%,#000000 );
	margin: 0px;
}

#u4688
{
	height: 43px;
	width: 399px;
	vertical-align: top;
	background: url("../images/u4688.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 25px;
}

#u4686.MuseMenuActive #u4688
{
	background: url("../images/u4688-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu4835
{
	width: 0.01px;
	left: -63px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4835
{
	z-index: 2;
	width: 1200px;
	background: transparent url("../images/u4835-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(20%, rgba(255, 0, 255, 0.58)),to(#FF0000));
	background: -webkit-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: -moz-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: -ms-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: -o-linear-gradient(top,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	background: linear-gradient(to bottom,rgba(255, 0, 255, 0.58) 20%,#FF0000 );
	border-style: none;
	border-color: transparent;
	padding-bottom: 368px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u4741
{
	z-index: 4;
	width: 1199px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#u1804-3
{
	z-index: 9;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 890px;
}

#u4649
{
	z-index: 22;
	width: 364px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 96px;
}

#u1807
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 487px;
	left: -24px;
}

#u4723
{
	z-index: 28;
	width: 368px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 875px;
}

#u4986
{
	z-index: 48;
	height: 259px;
	width: 338px;
	vertical-align: top;
	background: url("../images/u4986.png") no-repeat 5px 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1318px;
	left: 491px;
}

#u4986:hover
{
	background: url("../images/u4986-r.png") no-repeat 0px 0px;
}

#u4639
{
	z-index: 24;
	width: 1029px;
	position: fixed;
	top: 431px;
	left: 75px;
}

body
{
	padding-top: 30px;
	padding-bottom: 25px;
}

#page .verticalspacer
{
	clear: both;
}

